@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--foreground-color);
}

:root {
  --background-color: orange;
  --foreground-color: #f6f6f6;
  --primary-text-color: orange;
  --secondary-text-color: magenta;
  --toggle-bg: orange ;
  --toggle-fg: white;

}

[data-theme="dark"] {
  --background-color: white;
  --foreground-color: black;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: magenta;
  --toggle-bg: magenta;
  --toggle-fg: black;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:1rem;
  gap: 2rem;
  color: var(--primary-text-color);

}

.site-title {
  font-size: 2rem; 
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap : 1rem;
  
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-top: .5rem;
  
}

.nav li:active {
  color: var(--toggle-bg);
}

.nav li:hover {
  color: var(--toggle-bg);
} 

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms ease-in-out;
}

.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

.container {
  margin: 2rem;
  display: grid;
  place-items: center;
  flex-direction: column;
}

.todo-list {
  display: flex;
  flex-direction: column;
  width: 20vw;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  padding: 1rem;
  font-weight: 500;
}

.todo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 1rem;
  border-radius: 2.5em;
  margin-bottom: 1.3rem;
  background-color: var(--background-color);
}

.todo-card input {
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--background-color);
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  margin-top: 1rem;
  border-radius: 1em;
  
}

.todo-card .checkbox {
  font-size: 2rem;
}


.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  list-style: none ;
  overflow: hidden;
  
}

.list-item {
  display: flex; 
}

.check-label {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5rem;
  color: var(--foreground-color);
}

form input {
  padding-left: 1rem;
}

label input {
  cursor: pointer;
  padding: .5rem;
  margin: 1rem;
}




.list-item input {
  border: none;
  outline: none;
  background-color: var(--background-color);
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  margin-left: 2rem;
  
}


h1 {
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 500;
  color: var(--secondary-text-color);
  background-color: var(--foreground-color);
  font-weight: 700;
  margin: auto;

}


p {
  margin: 2rem;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 1.3rem;
}


footer {
  margin: auto; 
  background-color: var(--foreground-color);
  width: 60%;
  border-radius: 20px;
} 

footer p {
  color: var(--secondary-text-color);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;

}

.btn p {
  font-size: 1.2rem;
  font-weight: 500 ;
  padding: 1rem;
  letter-spacing: 1px;
  background-color: var(--background-color);
  color: var(--secondary-text-color);
  border-radius: 1em;
}

.btn {
  border-radius: 50%  ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
  cursor: pointer;
  border: none;
  margin: auto;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: 500;
}


.btn:hover {
  color: var(--toggle-bg)
}

.btn-logout {
  background-color: var(--toggle-bg);
  color: var(--toggle-fg);
  padding: 1rem;
  border-radius: 1em;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;
}
